<%= turbo_frame_tag @teacher do %>
  <div class="form-group">
    <%= form_with(model: [@teacher, @meeting]) do |f| %>
      <%= render 'shared/errors', object: @meeting %>
      <div class="mb-3">
        <%= f.label :course_title, class: 'form-label' %>
        <%= f.text_field :course_title, class: 'form-control me-2', placeholder: 'Enter a Course Title' %>
      </div>
      <div data-controller="select" data-select-url-value="<%= free_classrooms_blocks_path %>" data-select-param-value="block_id">
        <div class="mb-3">
          <%= f.label :block, class: 'form-label' %>
          <%= f.collection_select :block_id, Block.order(:name), :id, :name,
              { prompt: 'Select a Block' },
              { class: 'form-select',
                data: { action: 'change->select#change',
                        turbo_frame: '_top' } } %>
        </div>
        <div class="mb-3">
          <%= f.label :classroom, class: 'form-label' %>
          <%= f.collection_select :classroom_id, [], :id, :name, 
              { prompt: 'Select a Classroom' },
              { class: 'form-select',
                data: { select_target: 'select',
                        turbo_frame: '_top' } } %>
        </div>
      </div>
      <%= f.submit class: 'mt-3 btn btn-primary', data: { turbo_frame: '_top' } %>
      <%= link_to 'Cancel', @teacher, class: 'mt-3 btn', data: { turbo_frame: '_top' } %>
    <% end %>
  </div>
<% end %>
