<div class="col-lg-12 text-center">
  <h1>Classroom <%= @classroom.name %></h1>
  <% if user_signed_in? %>
    <div class="container text-center">
      <%= link_to 'Edit', edit_classroom_path(@classroom) %>
      <%= link_to 'Delete', @classroom, 
                data: { turbo_method: :delete, 
                        turbo_confirm: "Are you sure you want to delete #{ @classroom.name }?" } %>
    </div>
  <% end %>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h3>Occupied</h3>
      <%= render 'shared/teacher_cards', objects: @meetings %>
    </div>
    <div class="col">
      <h3>Open</h3>
      <%= render 'shared/free_cards', objects: @free %>
    </div>
  </div>
</div>
