<h1>Edit Schedule for <%= @teacher.name %></h1>
<%= link_to 'Add Class', new_teacher_schedule_meeting_path(@teacher, @schedule) %>
<table class="table table-striped mt-3">
  <% @meetings.each do |meeting| %>
    <tr>
      <td>
        <%= link_to meeting.block.name, meeting.block %> in Classroom
        <%= link_to meeting.classroom.name, meeting.classroom%>
      </td>
      <td> <%= link_to 'Delete', teacher_schedule_meeting_path(@teacher, @schedule, meeting), 
                data: { turbo_method: :delete, 
                        turbo_confirm: "Are you sure you want to delete #{meeting.block.name} from #{@teacher.name}'s schedule?" } %>
      </td>
    </tr>
  <% end %>
</table>
