<h1>Create a Schedule for <%= @teacher.name %></h1>
<%= form_with(model: [@teacher, @schedule]) do |f| %>
  <%= render 'shared/errors', object: @schedule %>
  <%= f.fields_for :meetings do |ff| %>
    <%= ff.label :class, class: 'form-label' %>
    <%= ff.collection_select :block_id, Block.order(:name), :id, :name, { include_blank: true }, { class: 'form-select' } %>
    <%= ff.collection_select :classroom_id, Classroom.all, :id, :name, { include_blank: true }, { class: 'form-select' } %>
  <% end %>
  <%= f.submit class: 'mt-3 btn btn-primary'%>
<% end %>
