<div class="container text-center">
  <h1><%= @block.name %> Block</h1>
  <div class="container text-center">
    <%= link_to 'Edit', edit_block_path(@block) %>
    <%= link_to 'Delete', @block, 
                data: { turbo_method: :delete, 
                        turbo_confirm: "Are you sure you want to delete #{@block.name}?" } %>
  </div>
  <div class="row">
    <div class="col">
      <h3>Teaching</h3>
      <%= render 'teacher_list', objects: @meetings %>
    </div>
    <div class="col">
      <h3>Free</h3>
      <%= render 'shared/free_list', objects: @free_teachers %>
    </div>
    <div class="col">
      <h3>Open Classrooms</h3>
      <%= render 'shared/free_list', objects: @free_classrooms %>
    </div>
  </div>
</div>
