<h1>Editing <%= @teacher.first_name %> <%= @teacher.last_name %></h1>
<%= form_with(model: @teacher) do |f| %>
  <div class="form-group">
    <div class="mb-3">
      <%= f.label :first_name, class: 'form-label' %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= f.label :last_name, class: 'form-label' %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= f.label :email, class: 'form-label' %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= f.label :department, class: 'form-label' %>
      <%= f.select :department, ['Select a department'], {}, class: 'form-select' %>
    </div>
    <div class="mb-3">
      <!-- rewrite to use collections_check_boxes helper -->
      <%= f.label :schedule, class: 'form-label' %>
      <div class="mb-3">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="1" name="schedule[]" id="a_block">
          <label class="form-check-label" for="a_block">
            A Block
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="3" name="schedule[]" id="b_block">
          <label class="form-check-label" for="b_block">
            B Block
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="4" name="schedule[]" id="c_block">
          <label class="form-check-label" for="c_block">
            C Block
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="5" name="schedule[]" id="d_block">
          <label class="form-check-label" for="d_block">
            D Block
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="6" name="schedule[]" id="e_block">
          <label class="form-check-label" for="e_block">
            E Block
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="7" name="schedule[]" id="f_block">
          <label class="form-check-label" for="f_block">
            F Block
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" value="8" name="schedule[]" id="g_block">
          <label class="form-check-label" for="g_block">
            G Block
          </label>
        </div>
      </div>
    </div>
  </div>
  <%= f.submit class: 'btn btn-primary'%>
<% end %>
