<div class="col-lg-12 text-center">
  <h1><%= @teacher.name %></h1>
  <div class="container text-center">
    <%= mail_to @teacher.email %>
  </div>
  <div class="container text-center">
    <%= link_to 'Edit', edit_teacher_path(@teacher) %>
    <%= link_to 'Delete', @teacher, 
                data: { turbo_method: :delete, 
                        turbo_confirm: "Are you sure you want to delete #{@teacher.first_name} #{@teacher.last_name}?" } %>
    <div class="container">
      <% if @teacher.schedule %>
        <%= link_to 'Edit Schedule', edit_teacher_schedule_path(@teacher, @schedule) %>
      <% else %>
        <%= link_to 'Add Schedule', new_teacher_schedule_path(@teacher) %>
      <% end %>
    </div>
  </div>
  <h4 class="m-3 text-center">
    <%= link_to_department(@department) %>
  </h4>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h3>Teaches During</h3>
      <%= render 'shared/table', objects: @blocks %>
    </div>
    <div class="col">
      <h3>Free During</h3>
      <%# <%= render 'shared/table', objects: @free %>
    </div>
  </div>
</div>
