<div class="col-lg-12 text-center">
  <h1><%= @teacher.name %></h1>
  <div class="container text-center">
    <%= mail_to @teacher.email %>
  </div>
</div>
<h4 class="m-3 text-center">
  <%= link_to_department(@department) %>
</h4>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h3>Teaching</h3>
      <div id="classes">
        <%= render @meetings %>
      </div>
    </div>
    <div class="col">
      <h3>Free</h3>
      <div id="free">
        <%= render 'shared/free_cards', objects: @free %>
      </div>
    </div>
  </div>
</div>
